.Choice {
    background-color: rgb(27, 27, 33);
    width: 65%;
    height: 10%;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    right: 10%;
    color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }